# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.KrakenTown.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\dorar\KrakenTown\.idea\.idea.KrakenTown\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
